.creditcard {
  &__container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  &__info {
    ul {
      padding: 0;
      li {
        list-style-type: none;
        font-size: 18px;
      }
    }

    display: flex;
    align-items: center;
  }
  &__body {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 5px 5px 7px -5px rgba(0, 0, 0, 0.75);
    width: 260px;
    height: 160px;
    border-radius: 5px;
    &--data {
      display: flex;
      justify-content: space-around;
    }
    &--provider {
      padding-left: 12px;
      font-size: 16px;
    }
    &--decoration {
      padding-left: 14px;
      font-size: 26px;
    }
    &--number {
      text-align: center;
      word-spacing: 8px;
      font-size: 24px;
    }
  }
}

.santander {
  background: linear-gradient(146deg, #ff0000 0%, #2d2c2c 100%);
}

.nubank {
  background: linear-gradient(
    146deg,
    rgba(115, 32, 143, 1) 0%,
    rgba(201, 91, 255, 1) 100%
  );
}
